<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>02-footer (solution)</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="solution.css" />
  </head>
  <body>
    <footer class="footer">
      <div class="footer-left-container">
        <div class="footer-logo">
          <img src="./images/logo.png" alt="logo fastcampus" />
        </div>
        <div class="footer-company-info">
          패스트캠퍼스(주)<br />
          사업자번호 : 810-86-00658<br />
          사무실 : 서울시 강남구 강남대로 364 미왕빌딩 15층
        </div>
      </div>

      <!-- 브라우저 사이즈에 따라 레이아웃 위치를 변경하기 위해 -->
      <div class="footer-right-container">
        <nav class="footer-menu-container">
          <ul class="footer-menu">
            <li class="footer-menu-item">
              <a href="#" class="footer-menu-item-link">회사소개</a>
            </li>
            <li class="footer-menu-item">
              <a href="#" class="footer-menu-item-link">이용약관</a>
            </li>
            <li class="footer-menu-item">
              <a href="#" class="footer-menu-item-link">개인정보처리방침</a>
            </li>
            <li class="footer-menu-item">
              <a href="#" class="footer-menu-item-link">취소/환불 정책</a>
            </li>
            <li class="footer-menu-item">
              <a href="#" class="footer-menu-item-link">자주 묻는 질문</a>
            </li>
            <li class="footer-menu-item">
              <a href="#" class="footer-menu-item-link">공지사항</a>
            </li>
          </ul>
        </nav>

        <nav class="footer-channel-container">
          <ul class="footer-channel">
            <li class="footer-channel-item">
              <a class="footer-channel-item-link" href="#">
                <img
                  class="footer-chnnel-item-icon"
                  src="./images/icon-facebook.png"
                  alt="facebook icon"
                />
              </a>
            </li>
            <li class="footer-channel-item">
              <a class="footer-channel-item-link" href="#">
                <img
                  class="footer-chnnel-item-icon"
                  src="./images/icon-instagram.png"
                  alt="instagram icon"
                />
              </a>
            </li>
            <li class="footer-channel-item">
              <a class="footer-channel-item-link" href="#">
                <img
                  class="footer-chnnel-item-icon"
                  src="./images/icon-youtube.png"
                  alt="youtube icon"
                />
              </a>
            </li>
            <li class="footer-channel-item">
              <a class="footer-channel-item-link" href="#">
                <img
                  class="footer-chnnel-item-icon"
                  src="./images/icon-naver.png"
                  alt="naver icon"
                />
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>
  </body>
</html>
