@charset "utf-8";

/* variables */

$w100: 100%;
$font: BlinkMacSystemFont, "Apple SD Gothic Neo", "맑은 고딕", sans-serif;
$repeat: 30;

/* reset */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html,
body {
  position: relative;
  width: $w100;
  height: $w100;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

h1 {
  text-align: center;
  margin: 35px auto 0;
}

.after_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: $w100;
  height: 500px;
  max-width: 1024px;
  margin: 50px auto;
  background-color: #000;
  p {
    position: relative;
    color: #fff;
    font-family: $font;
    font-size: 100px;
    line-height: 1;
    &::after {
      left: 2px;
      text-shadow: -1px 0 red;
      animation: glitch 2s infinite linear alternate-reverse;
    }
    &::before {
      left: -2px;
      text-shadow: 1px 0 blue;
      animation: glitch2 3s infinite linear alternate-reverse;
    }
    &::after,
    &::before {
      content: attr(data-text);
      position: absolute;
      top: 0;
      color: white;
      background: black;
      overflow: hidden;
    }
  }
}

@keyframes glitch {
  @for $i from 0 through $repeat {
    #{percentage($i*(1/$repeat))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}

@keyframes glitch2 {
  @for $i from 0 through $repeat {
    #{percentage($i*(1/$repeat))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}
