@charset "utf-8";

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 56px;
  height: 38px;
  margin: 0;
  padding: 0 12px;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.5px;
  background-color: #6c757d;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: darken(#6c757d, 5%);
    text-decoration: none;
  }
  &:disabled {
    cursor: default;
    opacity: 0.5;
  }

  &-danger {
    background-color: #f15d5d;
    &:hover {
      background-color: darken(#f15d5d, 5%);
    }
  }
  &-warning {
    background-color: #ffc107;
    &:hover {
      background-color: darken(#ffc107, 5%);
    }
  }
  &-primary {
    background-color: #5d04d9;
    &:hover {
      background-color: darken(#5d04d9, 5%);
    }
  }
  &-success {
    background-color: #06bf9d;
    &:hover {
      background-color: darken(#06bf9d, 5%);
    }
  }
  &-dark {
    background-color: #212529;
    &:hover {
      background-color: darken(#212529, 5%);
    }
  }

  &-outline {
    border: 1px solid #6c757d;
    background-color: #fff;
    color: #6c757d;

    &:hover {
      color: #fff;
      background-color: #6c757d;
    }
  }
  &-outline-danger {
    border: 1px solid #f15d5d;
    background-color: #fff;
    color: #f15d5d;

    &:hover {
      color: #fff;
      background-color: #f15d5d;
    }
  }
  &-outline-warning {
    border: 1px solid #ffc107;
    background-color: #fff;
    color: #ffc107;

    &:hover {
      color: #fff;
      background-color: #ffc107;
    }
  }
  &-outline-primary {
    border: 1px solid #5d04d9;
    background-color: #fff;
    color: #5d04d9;

    &:hover {
      color: #fff;
      background-color: #5d04d9;
    }
  }
  &-outline-success {
    border: 1px solid #06bf9d;
    background-color: #fff;
    color: #06bf9d;

    &:hover {
      color: #fff;
      background-color: #06bf9d;
    }
  }
  &-outline-dark {
    border: 1px solid #212529;
    background-color: #fff;
    color: #212529;

    &:hover {
      color: #fff;
      background-color: #212529;
    }
  }
}
