// figma : https://www.figma.com/file/9FXkniEMPgZKtJY4GwP60z/Input?node-id=0%3A3

// color palette
$gray1: #333333;
$gray2: #4f4f4f;
$gray3: #828282;
$gray4: #BDBDBD;
$gray5: #E0E0E0;
$gray6: #F2F2F2;
$gray7: #F9F9F9;
$red: #EB5757;

// color variable rename
$f-bd-color: $gray5;
$f-bd-hover-color: $gray3;
$f-bd-focus-color: $gray1;
$f-bg-color: #fff;
$f-bg-readonly-color: $gray7;
$f-bg-disabled-color: $gray7;
$f-placeholder-color: $gray4;
$f-txt-color: $gray1;
$f-txt-disabled-color: $gray4;
$error-color: $red;

.form-label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    color: $gray1;
}

input {
    -webkit-appearance: none;
    &:focus {
        outline: none;
    }
}

.form-input {
    display: block;
    padding: 0 16px;
    width: 100%;
    height: 48px;
    border-radius: 4px;
    border: 1px solid $f-bd-color;
    background: $f-bg-color;
    font-size: 14px;
    color: $f-txt-color;
    &::placeholder {            /* Chrome, Safari, Firefox */
        color: $f-placeholder-color;
    }
    &:-ms-input-placeholder {   /* IE, Edge */
        color: $f-placeholder-color;
    }
    &::-ms-clear,
    &::-ms-reveal {             /* IE Input 태그 안 x 버튼 없애기 */
        display: none;
    }

    &:not([readonly]):not(:disabled:not(.error)) {
        &:hover {
            border-color: $f-bd-hover-color;
        }
        
        &:focus {
            border-color: $f-bd-focus-color;
        }
    }

    // (주의) :read-only는 IE에서 적용되지 않습니다.
    &[readonly] {
        background-color: $f-bg-readonly-color;
        cursor: default;
    }
    
    &:disabled {
        background-color: $f-bg-disabled-color;
        color: $f-txt-disabled-color;
        cursor: not-allowed;
    }

    &.error {
        border-color: $error-color;
        color: $error-color;
        & + .txt-error {
            display: block;
        }
    }
}

.txt-error {
    display: none;
    margin-top: 8px;
    font-size: 14px;
    color: $error-color;
}